@model AudioTelRec.Models.Gravacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gravacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDoArquivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDoArquivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBancoClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBancoClienteNavigation.Ddd1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
