@model IEnumerable<AudioTel.Models.Gravacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoArquivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ramal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBancoClienteNavigation)
            </th>
            <th>Gravação</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBancoClienteNavigation.Ddd1)
            </td>
            <td>
                <a asp-area="Audio e Video" asp-controller="AudioVideo" asp-action="AudioVideo" data-id="AudioVideo">

                    <video id="audioplayer" src="@Url.Content(@item.FilePath)" controls width="200" height="50" loop />
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="bi bi-pencil" style="font-size: 1.10rem"></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="bi bi-file-text" style="font-size: 1.10rem"></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="bi bi-trash danger" style="font-size: 1.10rem; color: red"></a>
            </td>
        </tr>
        }
    </tbody>
</table>