@model IEnumerable<AudioTel.Models.Bancocliente>

@{
    ViewData["Title"] = "Index";
}

<h2>
    Registros<a href="@Url.Action("Create")" class="btn text-primary" data-toggle="tooltip" data-placement="right">
        <i class="bi bi-plus-circle-fill" style="font-size: 1.5rem; color:deepskyblue"></i>
    </a>
</h2>

<table class="table table-responsive table-sm table-striped table-hover" style="width: 100vw; grid-column-end">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrevistador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelFeito)
            </th>
            <th>
                NT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddd1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddd2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddd3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fone3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddd4)
            </th>
            <th>
                Fone 4 &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrevistador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelFeito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTratado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fone3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fone4)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"class="bi bi-pencil" style="font-size: 1.10rem"></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="bi bi-file-text" style="font-size: 1.10rem"></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="bi bi-trash danger" style="font-size: 1.10rem; color: red"></a>
            </td>
        </tr>
}
    </tbody>
</table>
